<!-- <h1>Questions#ask</h1>
<p>Find me in app/views/questions/ask.html.erb</p> -->

<!-- <form action="/answer">
  <input type="text" name="question">
  <input type="submit" value="Ask!">
</form> -->

<div class="container text-center" id="question-form">
  <form action="/answer">
    <div class="form-group">
      <label for="exampleInputEmail1">Ur Question</label>
      <input type="text" class="form-control" id="question" placeholder="Ask a question to ur coach" name="question">
    </div>
    <button type="submit" class="btn btn-danger" id="button">Ask!</button>
  </form>
</div>
